/* Ext.ux.FileTreePanel css file
 *
 * vim:sw=2:ts=2:fdc=4 
 * $Id: filetree.css 383 2008-11-17 01:32:30Z jozo $ 
 */

/* {{{
// layout rules */

/* }}} */

.ux-up-item {
	line-height:17px;
	height:17px;
	cursor:default;
/*	border: 1px solid transparent; */
	margin-bottom:1px;
	position:relative;
	background-color:#00000;
	background-repeat:no-repeat
}
.ux-up-icon-file {
	width:16px;
	height:16px;
	vertical-align:-3px;
	margin-right:4px;
	background-image:url(../../resources/images/default/tree/leaf.gif);
	float:left;
}
.ux-up-item-selected {
	/*
	border-color:#c0c0c0;
	background-color:#f0f0f0;
	*/
}
.ux-up-indicator {
	background-color:yellow;
	height:17px;
	width:40px;
	position:absolute;
	opacity:0.4;
}
.ux-up-icon-state {
	width:16px;
	float:right;
	margin-right:2px;
	cursor:pointer;
	z-index:-1;
}
.ux-up-icon-queued {
	background-image:url(img/silk/icons/page_white_get.png);
}
.ux-up-icon-uploading {
	background-image:url(../../resources/images/default/grid/wait.gif);
}
.ux-up-icon-done {
	background-image:url(img/silk/icons/accept.png);
}
.ux-up-icon-failed {
	background-image:url(img/silk/icons/error.png);
}
.ux-up-icon-stopped {
	background-image:url(img/silk/icons/stop.png);
}
.ux-up-text {
	float:left;
	font-size:12;
}
.ux-ftm-nodename {
	color:black;
	font-weight:bold;
	cursor:default ! important;
}
.folder {
	background-image:url(../../resources/images/default/tree/folder.gif) ! important;
/*	background-repeat:no-repeat; */
}
.x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

.x-view-selected{
	background:url(img/selected.gif);
	border:1px solid #99bbe8;
	padding: 4px;
}

.icon-plus {
	background-image:url(img/silk/icons/add.png) ! important;
}
.icon-cross {
	background-image:url(img/silk/icons/cross.png) ! important;
}
.icon-warn {
	background-image:url(img/silk/icons/error.png) ! important;
}
.icon-upload {
	background-image:url(img/icons/up.png) ! important;
}
.icon-ok {
	background-image:url(img/icons/ok16.png) ! important;
}
/* eof */
